<!DOCTYPE html>
<html>
  <head>
      <title>Fizz Buzz Game</title>
      <!-- Third Party Stylesheets-->
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" 
          href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">   
      <link rel="stylesheet" href="/static/styles/intlTelInput.css">
  </head>
  <body>
    <div class="container">
        <div class="row col-md-8 col-md-offset-2 text-center"><h1>Fizz Buzz</h1></div>
        <p>
            Enter your number to get a call and play Fizz Buzz! 
        </p>
        <hr>

        <!-- C2C contact form-->
        <div class="row">
            <div class="col-md-12">
                <form id="contactForm" role="form">
                    <div class="form-group">
                        <input type="text" id="phoneNumber" 
                            placeholder="(651) 555-7889" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-default">
                        Start
                    </button>
                </form>
            </div>
        </div>
    </div>
    <!-- Include page dependencies -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/intlTelInput.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
</html>
